<div class="container-fluid">
    <div class="post-grid">
        {% for post in site.posts %}
        <div class="card mb-2 post-grid-item {{ post.tags | join: ' ' }}">
            <div class="row no-gutters">
                <div class="col-md-2 card-column">
                    <a href="{{post.url | prepend: site.baseurl}}">
                        <img class="card-img" src="{{ "/assets/img/" | prepend: site.baseurl | append: post.image }}">
                        {% if post.type == 'video' %}
                        <span class="play-button-icon fa-stack fa-lg">
                            <i class="fas fa-square fa-stack-1x"></i>
                            <i class="fab youtube-logo fa-youtube fa-stack-2x"></i>
                        </span>
                        {% endif %}
                    </a>
                </div>
                <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{{post.url | prepend: site.baseurl}}"> {{ post.title }} </a>
                    </h5>
                    <div class="card-text">
                        <div>{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</div>
                        <small class="text-muted">{{post.date |  date: '%b %d, %Y'}}</small>
                    </div>
                </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>