---
layout: default-with-header
---
<div class="flex-container">
    <article class="article-page">
        <div class="wrapper">
            <div class="page-content">
                <div class="header-page">
                    <h1 class="page-title">{{page.title}}</h1>
                    <div class="page-date"><time datetime="{{page.date}}">{{page.date | date: '%b %d, %Y'}}</time></div>
                </div>
                {{page.content | markdownify}}
                </div>
            </div>
        </div> <!-- End Wrapper -->
    </article>
{% include footer.html %}
</div>
